/*RESET*/
@font-face {
    font-family:Sanseriffic;
    src: url(../font/Sanseriffic.otf);
 }

* {
    margin: 0;
    padding: 0;
    font: normal normal normal 21px/1.4em Century Gothic;
    color: black;
}

body {
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(249, 245, 239);
}

/*////////////////////////////////////////HEADER///////////////////////////////////////////////*/

header {
    height: 100px;
    background-color: aliceblue;
    width: 100%;
    padding: 0px 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

#LogoPankey {
    height: 80px;
    width: 80px;
    padding: 20px 10px;
}

.menu a,
input {
    color: rgb(0, 0, 0);
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    letter-spacing: 0.1vw;
    font-size: 18px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.4s;
    text-decoration: none;
}

.iconos a {
    color: rgb(0, 0, 0);
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    letter-spacing: 0.1vw;
    font-size: 18px;
    padding: 15px 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.4s;
    text-decoration: none;
    text-align: center;
}

.iconos {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.iconos>li>a>img {
    width: 30px;
    height: 30px;
    padding: 0px 10px;
    cursor: pointer;
}

#seccion_busqueda{
    display: none;
}

#btn_ingresar {
    cursor: pointer;
    width: auto;
    margin: 0px;
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
    padding: 0px 30px
}

.mostrar_menu {
    order: 1;
}

#check {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}

/*CATALOGO*/

.menu_horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.Menu_Catalogo>li {
    padding: 5px 0px;
}

.menu_horizontal>li {
    position: relative;
}

.menu_horizontal>li>a {
    display: block;
    padding: 15px 100px;
    text-decoration: none;
}

.Menu_Catalogo {
    display: none;
    z-index: 1;
    transition: 0.8s;
    color: black;
    position: absolute;
    list-style: none;
    background-color: rgb(255, 255, 255);
    top: 100%;
    width: 100%;
    text-align: center;
}

.menu_horizontal li:hover .Menu_Catalogo {
    transition: 0.4s;
    display: block;
}

header a:hover {
    cursor: pointer;
    color: rgb(214, 208, 199);
}

a {
    text-decoration: none;
}

/* FIN CATALOGO*/


/* ////////////////////////////////////////////////CUERPO///////////////////////////////////*/

#Salto {
    position: fixed;
    top: 100px;
    display: block;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 25px;
    z-index: 2;
}

#contenido_principal {
    opacity: 1 !important;
    height: 100%;
    width: 100%;
    background-color: rgb(249, 245, 239);
    padding-top: 120px;
}

/* SLIDER*/

#DestacadoPrincipal {
    background-color: rgb(249, 245, 239);
    height: auto;
    overflow: hidden;
  
  }

  #DestacadoPrincipal * {
    height: auto;
  }

  #DestacadoPrincipal ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
  }
  
  #DestacadoPrincipal li {
    list-style: none;
    width: 100%;
  }
  
  #DestacadoPrincipal img {
  
    width: 100%;
    height: 100%;
  }
  
  @keyframes slide {
      0% {margin-left: 0;}
      20% {margin-left: 0;}
      
      25% {margin-left: -100%;}
      45% {margin-left: -100%;}
      
      50% {margin-left: -200%;}
      70% {margin-left: -200%;}
      
      75% {margin-left: -300%;}
      100% {margin-left: -300%;}
  }


/* FIN DE SLIDER*/



#DestacadoPrincipal h2 {
    text-align: center;
    font: normal normal normal 1.8vw/1.4em Century Gothic;
    font-size: 40px;
    padding: 2vh 2vw;
}

#DestacadoPrincipal h6 {
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    text-align: center;
    padding: 2vh 2vw;
}


#seccion_productos>div {
    justify-content: center;
}

#seccion_productos>div>div {
    display: inline-block;
    width: auto;
    position: relative; 
    padding: 2.5%;
}

#seccion_productos > *:first-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#seccion_productos>div>div>img{
    width: 280px;
    height: 280px;
}

h3 {
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
   letter-spacing: 0.1vw;
   font-size: 15px;
   margin: 0px;
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;
   opacity: 0;
}

h1{
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    letter-spacing: 0.1vw;
    font-size: 24px;
    padding: 100px 0px 100px 0px;
    text-align: center;
    letter-spacing: 0.15vw;
}

h3:hover {
    cursor: pointer;
    opacity: 1;
}

h3:hover+img {
    cursor: pointer;
    opacity: 0.5;
}




/*///////////////////////////////////////////////////FOOTER////////////////////////////////////////////////*/

footer {
    width: 100%;
    padding: 50px 0px 0px 0px;
    background-color: rgb(249, 245, 239);
    font: normal normal normal 17px/1.4em Century Gothic;
    text-align: center;
    color: rgb(173, 173, 173);
}

#Derechos {
    display: flex;
    width: 100%;
    height: 70px;
    background: black;
    font: normal normal normal 17px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(173, 173, 173);
   
}

/*///////////////////////////////////////////////////RESPONSIVE////////////////////////////////////////////////*/

@media (max-width: 1230px) {

    .menu_horizontal>li>a {
        padding: 10px 50px;
    }

}

@media (max-width: 928px) {

    .menu_horizontal>li>a {
        padding: 10px 30px;
    }

}

@media (max-width: 868px) {

    .menu_horizontal>li>a {
        padding: 10px 20px;
    }

}

@media (max-width: 670px) {

    .mostrar_menu,
    .esconder_menu {
        display: block;
        transition: 0.8s;
    }

    .mostrar_menu {
        padding: 0px 30vw;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: aliceblue;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 4;
        transition: 0.8s;
    }

    .menu_horizontal,
    .iconos {
        display: block;
    }

    .menu a {
        display: block;
        padding: 5px 20px;
    }

    .esconder_menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: 0;
        transition: 0.8s;
    }

}
@media (max-width: 500px) {

    #seccion_productos>div>div>img{
        padding: 0px !important;
        width: 58vw;
        height: 58vw;
    }
    h1{
        font-size: 10vw;
    }

}