@font-face {
    font-family:Sanseriffic;
    src: url(../font/Sanseriffic.otf);
}
*:not(.Menu_Catalogo, .Menu_Catalogo *) {
    transition: 0.4s;
}
body {
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
#Cabecera{
    position: fixed;
    background: white;
    z-index: 2;
    height: 128.125px;
}
#Contenido_Cabecera{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}
#LogoPankey{
    min-width: 70px;
    min-height: 80px;
    max-width: 90px;
    max-height: 90px;
    padding: 1vh 4vw;
}
#check {
    display: none;
}
.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
    padding: 0px 30px
}
#botones_iconos{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
#seccion_botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
}
#Catalogo{
    display: flex;
    flex-direction: column;
}

.Btn_Catalogo{
    
    cursor: default !important;
}
#Catalogo:hover .Menu_Catalogo{
    visibility: visible;
}
.Menu_Catalogo{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
input:hover, a:hover, button:hover {
    cursor: pointer;
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}
#seccion_iconos{
    display: flex;
    align-items: center;
    padding: 10px;
}
#seccion_busqueda{
    position: absolute;
    display: flex;
    width: 110px;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#búsqueda{
    /*width: 110px;*/
    height: 11px; 
    border: 2px solid black;
    border-radius: 3px;
    cursor: auto !important;
    border-color: transparent;
}
#check2{
    position: absolute;
    visibility: hidden;
}
#Ingreso{
    border: 0px;
}
#Catalogo>input,#seccion_botones a{ 
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;    
    padding: 12px 0px;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    margin: 0px 4vw;
    text-align: center;
    letter-spacing: 0.1vw;
}
input{
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    padding: 6px 4vw;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(31, 31, 31);
    text-align: center; 
    letter-spacing: 0.1vw;
}
button{
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    padding: 6px 0.5vw;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(31, 31, 31);
    text-align: center; 
    letter-spacing: 1.6px;
}
a{
    text-decoration: none;
}
#btn_ingresar{
    cursor: pointer;
    width: auto;
    margin: 0px;
}
#seccion_iconos img{   
    width: 40px;
    height: 40px;
    padding: 12px;
    cursor: pointer;
}
#seccion_iconos input{   
    padding: 12px;
    cursor: pointer;
}
 #Salto {
     background-color: black;
     width: 100%;
     height: 25px;
     justify-content: center;
     color: aliceblue;
     text-align: center;
 }
 body>a:hover{
    all: initial;
    color: black !important;
 }
 label{
    cursor: auto;
 }
 h1{
    margin: 0px;
    padding: 10px;
}
#contenido_principal {
    width: 100%;
    background-color: aliceblue;
    padding-top: 128.125px;
    padding-bottom: 15px;
    display: flex;
}
#Productos{
    width: 75vw;
}
.tabla_info {
    display: table;
    width: 100%;
}

.fila {
    display: table-row;
}

#seccion_imagen>img{
    height: 120px;
    width: 120px;
}
.col {
    display: table-cell;
    vertical-align: middle;
    padding: 12px;
    text-align: center;
    width: 12.6vw !important;
}
#Info_adicional{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-right: 30px;
}
#Info_adicional>div>div>.col:nth-child(1) {
    font-weight: bold;
    width: 280px;
}

#botones_carrito{
    display: flex;
    width: 100%;
    justify-content: center;
}
h1{
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    letter-spacing: 0.1vw;
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: calc(70px - 2.5%);
    text-align: center;
    letter-spacing: 0.15vw;
}
#DestacadoPrincipal h2 {
    text-align: center;
    font: normal normal normal 1.8vw/1.4em Century Gothic;
    font-size: 40px;
    padding: 2vh 2vw;
}
#DestacadoPrincipal h6 {
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    text-align: center;
    padding: 2vh 2vw;
}
#seccion_productos{
    padding: 0px 15px;
}
#seccion_productos>div {
    justify-content: center;
}
#seccion_productos>div>div {
    display: inline-block;
    width: 295px;
    height: 302.5px;
    position: relative; 
    padding: 2.5%;
}
#seccion_productos > *:first-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2.5%;
}
#seccion_productos>div>div>img{
    width: 100%;
    height: 302.5px;
}
h3 {
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    letter-spacing: 0.1vw;
    font-size: 20px;
    margin: 0px;
    position: absolute;
    width: 295px;
    height: 302.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
}
h3:hover {
    cursor: pointer;
    opacity: 1;
}
h3:hover+img {
    cursor: pointer;
    opacity: 0.3;
    transition: initial;
}
#seccionIzq{
    display: flex;
    width: 25vw;
    justify-content: center;
}
#imgUsuario{
    width: 20vw;
    height: 20vw;
}
#imgUsuario>img{
    max-width: 100%;
    height: auto;
}
#seccionDer{
    width: 75vw;
    padding: 25px;
}
.tabla_info {
    display: table;
    width: 100%;
}
.fila {
    display: table-row;
}
#seccion_imagen>img{
    height: 100px;
    width: 100px;
}
.col {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
.col>div{
    padding-top: 20px;
}
select{
    width: 100% !important;
    padding: 5px 0px !important;
    margin: 5px 0px;
}
input[type="text"], input[type="url"], #cod_postal, #tel{
    cursor: auto;
    padding: 5px 0px !important;
    margin: 5px 0px;
}
input[type="text"], #num_tarjeta{ 
    width: 100%; 
    cursor: auto;
    border: 1px solid !important;
    border-color: black !important;
}
#cambio_contraseña>input{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#btn_guardar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_guardar>input{
    width: auto;
}


#DestacadoPrincipal {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: center;
}
#DestacadoPrincipal>img {
    height: 300px;
    width: 300px;
}

#texto{
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    padding-right: calc((40vw - 300px) / 2);
}
h1{
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    font-size: 4vw !important;
    letter-spacing: 0.1vw;
    font-size: 24px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    letter-spacing: 0.15vw;
}
p{
   font: normal normal normal 15px/1.4em Century Gothic; 
    margin: 0px;
    /*padding-left: 50px;
    padding-right: 50px;*/
}

footer {
    display: flex;
    width: 100%;
    background: black;
    text-align: center;
    color: rgb(70, 70, 70);
    align-items: center;
    justify-content: center;
}
#Derechos {
    display: flex;
    width: 82%;
    height: 70px;
    font: normal normal normal 14px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(173, 173, 173);
}
@media screen and (max-width: 1085px) {
    #check2:checked + header > #Contenido_Cabecera {
        justify-content: initial;
    }
}
@media screen and (max-width: 1028px) {
    #check2:checked + header > #Contenido_Cabecera > img {
        padding: 1vh 2vw;
    }
}
@media screen and (max-width: 963px) {
    #check2:checked + header > #Contenido_Cabecera > img {
        padding: 1vh 1vw;
    }
}
@media screen and (max-width: 936px) {
    #check2:checked + header > #Contenido_Cabecera > img{
        padding: 1vh 0px;
    }
}
@media screen and (max-width: 915px) {  
    #check2:checked + header #LogoPankey{
        padding: 1vh 4vw !important;
    }
    #check2:checked + header + #Contenido {
        padding-top: 125px;
    }
    #check2:checked + header > #Contenido_Cabecera {
        height: 103.125px;
    }
    #check2:checked + header .Menu_Catalogo{
        position: initial;
    }
    #check2:checked + header .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #check2:checked + header #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    #check2:checked + header .mostrar_menu,
    #check2:checked + header .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    #check2:checked + header .esconder_menu{
        margin-bottom: 24%;
    }
    #check2:checked + header #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #check2:checked + header #seccion_botones{
        justify-content: initial;
    }
    #check2:checked + header #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check2:checked + header #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #check2:checked + header #seccion_botones{
        flex-direction: column;
    }
    #check2:checked + header #seccion_iconos{
        flex-direction: column;
    }
}
@media screen and (max-width: 847px) {  
    #Contenido_Cabecera {
        justify-content: initial;
    }
    #Contenido_Cabecera > img {
        padding: 1vh 2vw;
    }
}
@media screen and (max-width: 809px) { 
    #Contenido_Cabecera {
        height: 103.125px;
    }
    .Menu_Catalogo{
        position: initial;
    }
    .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    .mostrar_menu,
    .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    .esconder_menu{
        margin-bottom: 24%;
    }
    #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #seccion_botones{
        justify-content: initial;
    }
    #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #seccion_botones{
        flex-direction: column;
    }
    #seccion_iconos{
        flex-direction: column;
    }
}
@media screen and (max-width: 720px) { 
    h1{
        font-size: 30px !important;
    }
}