@font-face {
    font-family:Sanseriffic;
    src: url(../font/Sanseriffic.otf);
}
*:not(#Menu_Catalogo, #Menu_Catalogo *, #contenido_principal, #contenido_principal *) {
    transition: 0.4s;
}
body {
    margin: 0px;
    width: 100vw;
    /*overflow-x: hidden;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Cabecera{
    position: fixed;
    background: white;
    z-index: 2;
    height: 128.125px;
}
#Contenido_Cabecera{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}

#LogoPankey{
    min-width: 70px;
    min-height: 80px;
    max-width: 90px;
    max-height: 90px;
    padding: 1vh 4vw;
}
#check {
    display: none;
}
.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
    padding: 0px 30px
}
#botones_iconos{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
#seccion_botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
}
#Catalogo{
    display: flex;
    flex-direction: column;
}

.Btn_Catalogo{
    
    cursor: default !important;
}
#Catalogo:hover #Menu_Catalogo{
    visibility: visible;
}
#Menu_Catalogo{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
input:hover:not(input[name='dedicatoria'], #cantidad), a:hover {
    cursor: pointer;
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}

#seccion_iconos{
    display: flex;
    align-items: center;
    padding: 10px;
}
#seccion_busqueda{
    position: absolute;
    display: flex;
    width: 110px;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#búsqueda{
    width: 0px;
    height: 11px; 
    border: 2px solid black;
    border-radius: 3px;
    cursor: auto !important;
    border-color: transparent;
}
#check2{
    position: absolute;
    visibility: hidden;
}
#Ingreso{
    border: 0px;
}
#Catalogo>input,#seccion_botones a{ 
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;    
    padding: 12px 0px;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    margin: 0px 4vw;
    text-align: center;
    letter-spacing: 1.4px;
}
input{
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    padding: 6px 4vw;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(31, 31, 31);
    text-align: center; 
    word-break: break-all;
    letter-spacing: 1.4px;
}
select{
    background-color: transparent;
    border: 0.2vw solid black;
    border-radius: 3px;
    font: normal normal normal 18px/1.4em Sanseriffic;
    width: 100px;
    text-indent: 16px;
    text-align: center;
    letter-spacing: 1.4px;
}
option{
    position: absolute;
}
a{
    text-decoration: none;
}
#btn_ingresar{
    cursor: pointer;
    width: auto;
    margin: 0px;
}
#seccion_iconos img{   
    width: 33px;
    height: 33px;
    padding: 12px;
    cursor: pointer;
}
#seccion_iconos input{   
    padding: 12px;
    cursor: pointer;
}
 #Salto {
     background-color: black;
     width: 100%;
     height: 25px;
     justify-content: center;
     color: aliceblue;
     text-align: center;
 }
 body>a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
 }
 body>a:hover{
    cursor: auto;
    color: black !important;
 }
 label{
    cursor: auto;
 }
 h1{
    margin: 0px;
    padding: 10px;
}
#contenido_principal{
    position: relative;
    display: inline-flex;
    width: 100%;
    background-color: aliceblue;
    padding-top: 128.125px;
    font: normal normal normal 21px/1.4em Sanseriffic;
    letter-spacing: 1.4px;
}

#DestacadoPrincipal{
    position: relative;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#DestacadoPrincipal input{
    font: normal normal normal 21px/1.4em Sanseriffic;
    letter-spacing: 1.4px;
}

#infoDetallada{
    position: relative;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    padding-right: calc((30vw - 300px) / 2);
}

p{
    padding: 5px 0px;
    margin: 0px;
    text-align: center;
}

#contenido_principal input{
    width: auto;
}

#DestacadoPrincipal>img {
    height: 300px;
    width: 300px;
    padding-top:2vh
}

#seccion_cantidad {
    display: inline-flex;
    align-items: center;
}

#disminuir_cantidad,
#aumentar_cantidad {
    font-size: 25px;
}
button {
    padding: 6px 0.5vw;
    letter-spacing: 1.6px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    caret-color: transparent;
    width: 30px !important;
}

#seccion_cantidad>*{
    margin: 0px;
}

#seccion_cantidad>input{
    padding: 0px;
}
#seccion_envio{
    display: flex;
}
#seccion_envio p{
    padding: 0px;
    position: absolute;
    opacity: 0;
    transition: 0.6s;
    color: green;
    cursor: default;
}
input[value='Feliz Cumpleaños...'] {
    color: #7c7c7c;
    cursor: auto;
    border: 1px solid !important;
    border-color: black !important;
}


#cantidad{
    cursor: auto;
}

#cantidad:hover{
    color: black;
}

#infoAdicional {
    border-style: groove;
    width: 65vw;
}

.tabla_info {
    display: table;
}

.fila {
    display: table-row;
}

.col {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.col:nth-child(1) {
    font-weight: bold;
}

.col:nth-child(3):not(input[name='dedicatoria']) {
    font-weight: bold;
}
input[name='dedicatoria']{
    border: 1px solid black;
    cursor: text !important;
    margin: 9px;
}
footer {
    display: flex;
    width: 100%;
    background: black;
    text-align: center;
    color: rgb(70, 70, 70);
    align-items: center;
    justify-content: center;
}
#Derechos {
    display: flex;
    width: 82%;
    height: 70px;
    font: normal normal normal 14px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(173, 173, 173);
}

#seccion_productos>div{
    display: inline-block;
    width: auto;
    position: relative;
}
input, #seccion_botones a, button {
    font: normal normal normal 18px/1.4em Sanseriffic;
}
#búsqueda, input, #seccion_botones a, button {
    border-radius: 3px;
}
input:hover:not(input[name='dedicatoria']),
a:hover,
button:hover,
#Catalogo:hover .Btn_Catalogo {
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}
label,
input:hover,
a:hover,
button:hover,
#seccion_iconos img,
h3:hover {
    cursor: pointer;
}
@media screen and (max-width: 1060px) {
    #check2:checked + header > #Contenido_Cabecera {
        justify-content: initial;
    }
}
@media screen and (max-width: 996px) {
    #check2:checked + header > #Contenido_Cabecera > img {
        padding: 1vh 2vw;
    }
}
@media screen and (max-width: 939px) {
    #check2:checked + header > #Contenido_Cabecera > img {
        padding: 1vh 1vw;
    }
}
@media screen and (max-width: 912px) {
    #check2:checked + header > #Contenido_Cabecera > img{
        padding: 1vh 0px;
    }
}
@media screen and (max-width: 887px) {  
    #check2:checked + header #LogoPankey{
        padding: 1vh 4vw !important;
    }
    #check2:checked + header + #Contenido {
        padding-top: 125px;
    }
    #check2:checked + header > #Contenido_Cabecera {
        height: 103.125px;
    }
    #check2:checked + header #Menu_Catalogo{
        position: initial;
    }
    #check2:checked + header .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #check2:checked + header #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    #check2:checked + header .mostrar_menu,
    #check2:checked + header .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    #check2:checked + header .esconder_menu{
        margin-bottom: 24%;
    }
    #check2:checked + header #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #check2:checked + header #seccion_botones{
        justify-content: initial;
    }
    #check2:checked + header #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check2:checked + header #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #check2:checked + header #seccion_botones{
        flex-direction: column;
    }
    #check2:checked + header #seccion_iconos{
        flex-direction: column;
    }
}
@media screen and (max-width: 883px) {  
    #Contenido_Cabecera {
        justify-content: initial;
    }
    #Contenido_Cabecera > img {
        padding: 1vh 2vw;
    }
}
@media screen and (max-width: 773px) { 
    #Contenido_Cabecera {
        height: 103.125px;
    }
    #Menu_Catalogo{
        position: initial;
    }
    .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    .mostrar_menu,
    .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    .esconder_menu{
        margin-bottom: 24%;
    }
    #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #seccion_botones{
        justify-content: initial;
    }
    #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #seccion_botones{
        flex-direction: column;
    }
    #seccion_iconos{
        flex-direction: column;
    }
}
