@font-face {
    font-family: Sanseriffic;
    src: url(../font/Sanseriffic.otf);
}

*:not(#Catalogo, #Catalogo *) {
    transition: 0.4s;
}

body,
#Contenido_Cabecera,
#Contenido_Cabecera div,
#Contenido_Cabecera section,
#DestacadoPrincipal ul,
#seccion_productos>*:first-child,
h3,
footer,
#Derechos {
    display: flex;
}

body,
#Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: space-between;
}

body,
#Contenido_Cabecera {
    width: 100vw;
}

body,
#Catalogo,
#Menu_Catalogo {
    flex-direction: column;
}

body,
h1,
h3 {
    margin: 0px;
}

body {
    overflow-x: hidden;
}

#Cabecera,
#botones_iconos {
    background: white;
}

#Cabecera {
    height: 128.125px;
    position: fixed;
    z-index: 2;
}

#Contenido_Cabecera,
#Contenido_Cabecera section,
#Menu_Catalogo,
#seccion_busqueda,
h3,
footer,
#Derechos {
    align-items: center;
}

#LogoPankey {
    min-width: 70px;
    max-width: 90px;
    min-height: 80px;
    max-height: 90px;
    padding: 1vh 4vw;
}

#check,
.mostrar_menu,
.esconder_menu {
    display: none;
}

label,
input:hover,
a:hover,
button:hover,
#seccion_iconos img,
h3:hover {
    cursor: pointer;
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    padding: 0px 30px
}

#botones_iconos {
    width: 80vw;
}

#seccion_botones {
    width: 60vw;
}

.Btn_Catalogo {
    cursor: default !important;
}



#Menu_Catalogo,
#check2 {
    visibility: hidden;
}

#Menu_Catalogo,
#seccion_busqueda,
#check2,
h3 {
    position: absolute;
}

#Menu_Catalogo,
h3 {
    z-index: 1;
}

#Menu_Catalogo {
    background-color: rgb(255, 255, 255);
}

input:hover,
a:hover,
button:hover,
#Catalogo:hover .Btn_Catalogo {
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}

#seccion_iconos,
h1 {
    padding: 10px;
}

#seccion_busqueda,
#Salto,
#seccion_productos>div,
h3,
footer,
#Derechos {
    justify-content: center;
}

#seccion_busqueda,
#LogoPankey {
    z-index: -1;
}

#seccion_busqueda {
    width: 110px;
}

#búsqueda,
input,
#seccion_botones a,
button {
    border-radius: 3px;
}

#búsqueda {
    height: 11px;
    border: 2px solid black;
    cursor: auto !important;
    border-color: transparent;
}

#Ingreso {
    border: 0px;
}

input,
#seccion_botones a,
button,
#Salto,
h1,
footer {
    text-align: center;
}

input,
#seccion_botones a,
button {
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    border: 0.5vw solid transparent;
    color: rgb(31, 31, 31);
}

input,
#seccion_botones a,
h1,
h3 {
    letter-spacing: 1.4px;
}

#Catalogo>input,
#seccion_botones>a {
    padding: 12px 0px;
    min-width: 100px;
}

#Catalogo{
    width: 160px;
    
}
#Catalogo *{
    width: 160px;
}
#Menu_Catalogo input {
    padding-bottom: 5px;
}

button {
    padding: 6px 0.5vw;
    letter-spacing: 1.6px;
}

a {
    text-decoration: none;
}

#seccion_iconos img,
#seccion_iconos input {
    padding: 12px;
}

#seccion_iconos img {
    width: 33px;
    height: 33px;
}

#Salto,
#contenido_principal,
#DestacadoPrincipal li,
#DestacadoPrincipal img,
#seccion_productos>*:first-child,
#seccion_productos>div>div>img,
footer {
    width: 100%;
}

#Salto {
    height: 25px;
    background-color: black;
    color: aliceblue;
}

body>a:hover {
    all: initial;
    color: black !important;
}

#contenido_principal,
#DestacadoPrincipal img {
    height: 100%;
}

#contenido_principal {
    background-color: aliceblue;
    padding-top: 128.125px;
}

/* SLIDER*/
#DestacadoPrincipal {
    height: auto;
    background-color: rgb(249, 245, 239);
    overflow: hidden;
}

#DestacadoPrincipal ul {
    width: 400%;
    padding: 0px;
    animation: slide 20s infinite alternate ease-in-out;
    margin-top: 0px;
    margin-bottom: 0px;
}

#DestacadoPrincipal li {
    list-style: none;
}

@keyframes slide {

    0%,
    20% {
        margin-left: 0px;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* FIN DE SLIDER*/
h1,
h3 {
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
}

h1 {
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: calc(70px - 2.5%);
}

#seccion_productos {
    padding: 0px 15px;
}

#seccion_productos>div>div,
h3 {
    width: 295px;
}

#seccion_productos>div>div,
#seccion_productos>div>div>img,
h3 {
    height: 302.5px;
}

#seccion_productos>div,
#seccion_productos>div>div {
    display: inline-block;
    position: relative;
}

#seccion_productos>div>div {
    padding: 2.5%;
}

#seccion_productos>*:first-child {
    flex-wrap: wrap;
    padding-bottom: 2.5%;
}

h3 {
    font-size: 20px;
    opacity: 0;
}

h3:hover {
    opacity: 1;
}

h3:hover+img {
    opacity: 0.3;
    transition: initial;
}

footer {
    background: black;
    color: rgb(70, 70, 70);
}

#Derechos {
    width: 82%;
    height: 70px;
    font: normal normal normal 14px/1.4em Century Gothic;
    color: rgb(173, 173, 173);
}

#seccion_productos>div {
    width: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media screen and (max-width: 1054px) {
    #check2:checked+header #Contenido_Cabecera,
    #check2:checked+header #botones_iconos,
    #check2:checked+header #seccion_botones {
    justify-content: initial;
}
}
@media screen and (max-width: 1013px) {
    #check2:checked+header #Catalogo>input, #check2:checked+header #seccion_botones>a {
        min-width: initial;
    }
    #check2:checked+header>#Contenido_Cabecera {
        height: 103.125px;
    }

    #check2:checked+header #LogoPankey {
        padding: 1vh 4vw !important;
    }

    #check2:checked+header+#Contenido {
        padding-top: 125px;
    }

    #check2:checked+header #Menu_Catalogo {
        position: initial;
    }

    #check2:checked+header .mostrar_menu,
    #check2:checked+header #LogoPankey {
        position: absolute;
    }

    #check2:checked+header .mostrar_menu {
        right: 5%;
    }

    #check2:checked+header #LogoPankey {
        width: 70px;
        height: 80px;
    }

    #check2:checked+header label,
    #check2:checked+header #botones_iconos {
        transition: 0.8s;
    }

    #check2:checked+header label {
        display: block;
    }

    #check2:checked+header .esconder_menu {
        margin-bottom: 24%;
    }

    #check2:checked+header #botones_iconos {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -110%;
        justify-content: space-between;
    }

    #check2:checked+header #seccion_botones {
        justify-content: initial;
    }

    #check2:checked+header #seccion_botones>* {
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }

    #check2:checked+header #check:checked+label+#botones_iconos {
        right: 0%;
    }

    #check2:checked+header #seccion_botones,
    #check2:checked+header #seccion_iconos {
        flex-direction: column;
    }
}

@media screen and (max-width: 930px) {
    #Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: initial;
}
}

@media screen and (max-width: 892px) {
    #Catalogo>input, #seccion_botones>a {
        min-width: initial;
    }
    #Contenido_Cabecera {
        height: 103.125px;
    }

    #Menu_Catalogo {
        position: initial;
    }

    .mostrar_menu,
    #LogoPankey {
        position: absolute;
    }

    .mostrar_menu {
        right: 5%;
    }

    #LogoPankey {
        width: 70px;
        height: 80px;
    }

    label {
        transition: 0.8s;
    }

    label {
        display: block !important;

    }

    .esconder_menu {
        margin-bottom: 24%;
    }

    #botones_iconos {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        justify-content: space-between;
    }

    #seccion_botones {
        justify-content: initial;
    }

    #seccion_botones>* {
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }

    #check:checked+label+#botones_iconos {
        right: 0%;
    }

    #seccion_botones,
    #seccion_iconos {
        flex-direction: column;
    }
}