body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
 
 h1 {
    margin: 0px;
     font: normal normal normal 1vw/1.4em Century Gothic;
     font-size: max(5vw, 18px);
     color: rgb(31, 209, 49);
     /*
     text-shadow: 0px 20px 7px black*/
 }
 

 /*
 hoja de estilo del agente de usuario a:-webkit-any-link {
     color: -webkit-link;
     cursor: pointer;
     text-decoration: underline;
 }
 hoja de estilo del agente de usuario li {
     text-align: -webkit-match-parent;
 }*/
input {
    width: 100%;
    font: normal normal normal 1.6vw/1.4em Century Gothic;
    font-size: 16px;
    text-align: center;
    background-color: transparent;    
    padding: 12px 12px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    color: rgb(31, 31, 31);
}
input:hover {
    cursor: pointer;
    color: #7c7c7c41;
}
 #contenido_principal {
    display: flex;
    align-items: center;
    opacity: 1 !important;
    height: 88vh;
     width: 100%;
     background:aliceblue;
 }
#Derechos {
    display: flex;
    width: 100%;
    height: 70px;
    font: normal normal normal 17px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(80, 80, 80);
}
footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12vh;
    background:aliceblue;
    font: normal normal normal 17px/1.4em Century Gothic;
    text-align: center;
    color: rgb(70, 70, 70);
}

/*LO QUE TENGO QUE AGREGAR DESDE JAVASCRIPT*/
body *:not(#VentanaDeIngreso>*) {
    opacity: 0.8;
}
#VentanaDeIngreso{
    opacity: 1 !important;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#VentanaDeIngreso * {
    opacity: 1 !important;
}
#Ventana{
    background-color: rgb(186, 223, 255) !important;  
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    border-radius: 7%;
}
#Ventana>*{
    background-color: transparent !important; 
}
label{
    padding: 0px 10px;
}
#Ventana>input {
    border: 1px solid;
    border-color: black;   
    width: auto;
}
.entrada_texto{
    width: 20vw !important;
    cursor: auto !important;
}