@font-face {
    font-family: Sanseriffic;
    src: url(../font/Sanseriffic.otf);
}

*:not(#Menu_Catalogo, #Menu_Catalogo *) {
    transition: 0.4s;
}

body,
#Contenido_Cabecera,
#Contenido_Cabecera div,
#Contenido_Cabecera section,
#DestacadoPrincipal ul,
#seccion_productos>*:first-child,
h3,
footer,
#Derechos {
    display: flex;
}

body,
#Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: space-between;
}

body,
#Contenido_Cabecera {
    width: 100vw;
}

body,
#Catalogo,
#Menu_Catalogo {
    flex-direction: column;
}

body,
h1,
h3 {
    margin: 0px;
}

body {
    overflow-x: hidden;
}

#Cabecera,
#botones_iconos {
    background: white;
}

#Cabecera {
    height: 128.125px;
    position: fixed;
    z-index: 2;
}

#Contenido_Cabecera,
#Contenido_Cabecera section,
#Menu_Catalogo,
#seccion_busqueda,
h3,
footer,
#Derechos {
    align-items: center;
}

#LogoPankey {
    min-width: 70px;
    max-width: 90px;
    min-height: 80px;
    max-height: 90px;
    padding: 1vh 4vw;
}

#check,
.mostrar_menu,
.esconder_menu {
    display: none;
}

label,
input:hover,
a:hover,
button:hover,
#seccion_iconos img,
h3:hover {
    cursor: pointer;
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    padding: 0px 30px
}

#botones_iconos {
    width: 80vw;
}

#seccion_botones {
    width: 60vw;
}

.Btn_Catalogo {
    cursor: default !important;
}

#Catalogo:hover #Menu_Catalogo {
    visibility: visible;
}

#Menu_Catalogo,
#check2 {
    visibility: hidden;
}

#Menu_Catalogo,
#seccion_busqueda,
#check2,
h3 {
    position: absolute;
}

#Menu_Catalogo,
h3 {
    z-index: 1;
}

#Menu_Catalogo {
    background-color: rgb(255, 255, 255);
}

input:hover,
a:hover,
button:hover,
#Catalogo:hover .Btn_Catalogo {
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}

#seccion_iconos,
h1 {
    padding: 10px;
}

#seccion_busqueda,
#Salto,
#seccion_productos>div,
h3,
footer,
#Derechos {
    justify-content: center;
}

#seccion_busqueda,
#LogoPankey {
    z-index: -1;
}

#seccion_busqueda {
    width: 110px;
}

#búsqueda,
input,
#seccion_botones a,
button {
    border-radius: 3px;
}

#búsqueda {
    height: 11px;
    border: 2px solid black;
    cursor: auto !important;
    border-color: transparent;
}

#Ingreso {
    border: 0px;
}

input,
#seccion_botones a,
button,
#Salto,
h1,
footer {
    text-align: center;
}

input,
#seccion_botones a,
button {
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    border: 0.5vw solid transparent;
    color: rgb(31, 31, 31);
}

input,
#seccion_botones a,
h1,
h3 {
    letter-spacing: 1.4px;
}

#Catalogo>input,
#seccion_botones>a {
    padding: 12px 0px;
    min-width: 100px;
}

#Catalogo{
    width: 160px;
    
}
#Catalogo *{
    width: 160px;
}
#Menu_Catalogo input {
    padding-bottom: 5px;
}

button {
    padding: 6px 0.5vw;
    letter-spacing: 1.6px;
}

a {
    text-decoration: none;
}

#seccion_iconos img,
#seccion_iconos input {
    padding: 12px;
}

#seccion_iconos img {
    width: 33px;
    height: 33px;
}

#Salto,
#contenido_principal,
#DestacadoPrincipal li,
#DestacadoPrincipal img,
#seccion_productos>*:first-child,
#seccion_productos>div>div>img,
footer {
    width: 100%;
}

#Salto {
    height: 25px;
    background-color: black;
    color: aliceblue;
}

body>a:hover {
    all: initial;
    color: black !important;
}
 body>a{
    height: 100vh;
 }
 h1{
    margin: 0px;
    padding: 10px;
}
#contenido_principal {
    height: 69.9vh;
    width: 100%;
    background-color: aliceblue;
    padding-top: 128.125px;
    display: flex;
}
/* SLIDER*/
#DestacadoPrincipal {
    background-color: rgb(249, 245, 239);
    height: auto;
    overflow: hidden;
}
#DestacadoPrincipal * {
    height: auto;
}
#DestacadoPrincipal ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    margin-top: 0px;
    margin-bottom: 0px;
}
#DestacadoPrincipal li {
    list-style: none;
    width: 100%;
}  
#DestacadoPrincipal img { 
    width: 100%;
    height: 100%;
}  
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}  
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}  
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}  
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/* FIN DE SLIDER*/
h1{
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    letter-spacing: 0.1vw;
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: calc(70px - 2.5%);
    text-align: center;
    letter-spacing: 0.15vw;
}
#DestacadoPrincipal h2 {
    text-align: center;
    font: normal normal normal 1.8vw/1.4em Century Gothic;
    font-size: 40px;
    padding: 2vh 2vw;
}
#DestacadoPrincipal h6 {
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    text-align: center;
    padding: 2vh 2vw;
}
#seccion_productos{
    padding: 0px 15px;
}
#seccion_productos>div {
    justify-content: center;
}
#seccion_productos>div>div {
    display: inline-block;
    width: 295px;
    height: 302.5px;
    position: relative; 
    padding: 2.5%;
}
#seccion_productos > *:first-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2.5%;
}
#seccion_productos>div>div>img{
    width: 100%;
    height: 302.5px;
}
h3 {
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    letter-spacing: 0.1vw;
    font-size: 20px;
    margin: 0px;
    position: absolute;
    width: 295px;
    height: 302.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
}
h3:hover {
    cursor: pointer;
    opacity: 1;
}
h3:hover+img {
    cursor: pointer;
    opacity: 0.3;
    transition: initial;
}
#seccionIzq{
    display: flex;
    width: 25vw;
    justify-content: center;
}
#imgUsuario{
    width: 20vw;
    height: 20vw;
}
#imgUsuario>img{
    max-width: 100%;
    height: auto;
}
#seccionDer{
    width: 75vw;
    padding: 25px;
}
.tabla_info {
    display: table;
    width: 100%;
}
.fila {
    display: table-row;
}
.fila>div>img{
    height: 100px;
    width: 100px;
}
.col {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
.col>div{
    padding-top: 20px;
}
select{
    width: 100% !important;
    padding: 5px 0px !important;
    margin: 5px 0px;
}
input[type="text"], input[type="url"], #cod_postal, #tel{
    cursor: auto;
    padding: 5px 0px !important;
    margin: 5px 0px;
}
input[type="text"], #num_tarjeta{ 
    width: 100%; 
    cursor: auto;
    border: 1px solid !important;
    border-color: black !important;
}
#cambio_contraseña>input{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#btn_guardar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_guardar>input{
    width: auto;
}


#DestacadoPrincipal {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: center;
}
#DestacadoPrincipal>img {
    height: 300px;
    width: 300px;
}

#texto{
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    padding-right: calc((40vw - 300px) / 2);
}
h1{
    font: normal normal normal 1.6vw/1.4em Sanseriffic;
    font-size: 4vw !important;
    letter-spacing: 0.1vw;
    font-size: 24px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    letter-spacing: 0.15vw;
}
p{
   font: normal normal normal 17px/1.4em Century Gothic; 
    margin: 0px;
    /*padding-left: 50px;
    padding-right: 50px;*/
}

footer {
    display: flex;
    width: 100%;
    background: black;
    text-align: center;
    color: rgb(70, 70, 70);
    align-items: center;
    justify-content: center;
}
#Derechos {
    display: flex;
    width: 82%;
    height: 70px;
    font: normal normal normal 14px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(173, 173, 173);
}
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
@media screen and (max-width: 956px) {  
    #contenido_principal {
        display: flex;
        /*flex-direction: column-reverse;*/
        flex-direction: column;
        height: auto;
      }
      h1{
        position: absolute;
        top: 100px;
        /*left: calc(50% - 116.3px);*/

      }
      #Contenido{
        height: initial;
      }
      #texto{
        padding-right: 0px;
        width: 100vw;
        align-items: center;
      }
      #DestacadoPrincipal{
        width: 100vw;
        padding-top: 75px;
      }
      p{
        padding: 35px 45px;
      }
    #check2:checked + header #LogoPankey{
        padding: 1vh 4vw !important;
    }
    #check2:checked + header + #Contenido {
        padding-top: 125px;
    }
    #check2:checked + header > #Contenido_Cabecera {
        height: 103.125px;
    }
    #check2:checked + header #Menu_Catalogo{
        position: initial;
    }
    #check2:checked + header .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #check2:checked + header #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    #check2:checked + header .mostrar_menu,
    #check2:checked + header .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    #check2:checked + header .esconder_menu{
        margin-bottom: 24%;
    }
    #check2:checked + header #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #check2:checked + header #seccion_botones{
        justify-content: initial;
    }
    #check2:checked + header #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check2:checked + header #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #check2:checked + header #seccion_botones{
        flex-direction: column;
    }
    #check2:checked + header #seccion_iconos{
        flex-direction: column;
    }
}

@media screen and (max-width: 930px) { 
    #Contenido_Cabecera {
        height: 103.125px;
    }
    #Menu_Catalogo{
        position: initial;
    }
    .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    .mostrar_menu,
    .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    .esconder_menu{
        margin-bottom: 24%;
    }
    #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #seccion_botones{
        justify-content: initial;
    }
    #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #seccion_botones{
        flex-direction: column;
    }
    #seccion_iconos{
        flex-direction: column;
    }
}
@media screen and (max-width: 720px) { 
    h1{
        font-size: 30px !important;
    }
}