body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h1{
    margin: 0px;
    padding: 2vh 2vw;
    height: 6vh;
    text-align: center;
}
#seccion_principal{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tabla_info {
    display: table;
    width: 100%;
}
.fila {
    display: table-row;
}
/*
.fila>div{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.fila>div>img{
    height: 100px;
    width: 100px;
}
.col {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
#seccion_enlace{
    padding-left: 0px;
}
#seccion_archivo{
    padding-right: 0px;
}
/* #dropzone{
    width: 300px; 
    height: 100px; 
    border: 2px dashed gray;
} */
#imgNoValida{
    color: red;
    visibility: hidden;
}
select{
    width: 100% !important;
    padding: 5px 0px !important;
    margin: 5px 0px;
}
input[type="text"], input[type="url"], button{
    padding: 5px 0px !important;
    margin: 5px 0px;
    color: rgb(0, 0, 0);
}
textarea{
    width: 100%;
    color: rgb(0, 0, 0);
}
#seccion__Der{
    display: flex;
    width: 25vw;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#seccion__Der>div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#seccion__Der>div>p, #seccion__Der>div>label{
    width: 48%;
    text-align: center;
}
#seccion__Der>div>div{
    padding: 0px 1.6vw;
}
#LogoPankey{
    width: 150px;
    height: 150px;
}
#seccion_btn{
    display: flex;
    height: 10vh;
    border: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
#btnsubirArchivo{
    display: none;
}
button{
    color: black;
}
h2{
    text-align: center;
}
#formDrop{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 0px !important;
}
#ingreso_enlace{
    position: absolute;
    height: 22px;
    cursor: text !important;
    margin-top: 120px;
}
#input2{
    position: relative;
    z-index: -1;
}
#txtDrop{
    position: relative;
}
#txtImgNoValida{
    visibility: hidden;
    color: red;
}
#contenedorTxt{
    height: 0px;
}