body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h1{
    margin: 0px;
    padding: 2vh 2vw;
    height: 6vh;
}
#seccion_principal{
    display: flex;
    width: 100%;
    height: 80vh;
}
#seccion__Izq{
    width: 70vw;
    height: 100%;
}



.tabla_info {
    display: table;
    width: 100%;
}
.fila {
    display: table-row;
}
/*
.fila>div{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.fila>div>img{
    height: 100px;
    width: 100px;
}
.col {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
select{
    width: 100% !important;
    padding: 5px 0px !important;
    margin: 5px 0px;
}
input[type="text"], input[type="url"]{
    padding: 5px 0px !important;
    margin: 5px 0px;
    color: rgb(112, 112, 112);
}
textarea{
    width: 100%;
    color: rgb(112, 112, 112);
}
#seccion__Der{
    display: flex;
    width: 30vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
#seccion__Der>div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#seccion__Der>div>p, #seccion__Der>div>label{
    width: 48%;
    text-align: center;
}
#seccion__Der>div>div{
    padding: 0px 1.6vw;
}
img{
    width: 15vw;
    height: 30vh;
}
#seccion_btn{
    display: flex;
    height: 10vh;
    border: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}