
/*RESET*/

* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background-color: aliceblue;
}

body>a{
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    top: 100px;
}

/*HEADER*/

header {
    height: 100px;
    background-color: aliceblue;
    width: 100%;
    padding: 0px 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

#LogoPankey {
    height: 80px;
    width: 80px;
    padding: 20px 10px;
}

.menu a,
input {
    color: rgb(0, 0, 0);
    font: normal normal normal 1.6vw/1.4em Century Gothic;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.4s;
    text-decoration: none;
}

.iconos {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.iconos a {
    color: rgb(0, 0, 0);
    font: normal normal normal 1.6vw/1.4em Century Gothic;
    font-size: 16px;
    padding: 15px 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.4s;
    text-decoration: none;
    text-align: center;
}

.iconos>li>a>img {
    width: 30px;
    height: 30px;
    padding: 0px 10px;
    cursor: pointer;
}

#seccion_busqueda{
    display: none;
}

#btn_ingresar {
    cursor: pointer;
    width: auto;
    margin: 0px;
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
    padding: 0px 30px
}

.mostrar_menu {
    order: 1;
}

#check {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}

/*CATALOGO*/

.menu_horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.Menu_Catalogo>li {
    padding: 5px 0px;
}

.menu_horizontal>li>a {
    display: block;
    padding: 15px 100px;
    text-decoration: none;
}

.Menu_Catalogo {
    display: none;
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    transition: 0.8s;
    color: black;
    top: 100%;
    text-align: center;
}

.menu_horizontal li:hover .Menu_Catalogo {
    transition: 0.4s;
    display: block;
}

.menu_horizontal>li {
    position: relative;
}

a:hover {
    cursor: pointer;
    color: rgb(214, 208, 199);
}

a {
    text-decoration: none;
}

/* FIN CATALOGO*/


/* CUERPO*/

#Salto {
    position: fixed;
    top: 100px;
    display: block;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 25px;
    z-index: 50;
}

#contenido_principal{
    position: relative;
    opacity: 1 !important;
    display: inline-flex;
    width: 100%;
    background-color: aliceblue;
    height: 100%;
    padding-top: 25px;
}

#Productos{
    width: 60vw;
    padding: 25px 25px 0px 25px;
}
.tabla_info {
    display: table;
    width: 100%;
}

.fila {
    display: table-row;
}
.fila>div{
    display: flex;
    width: 100%;
    justify-content: center;
}
.fila>div>img{
    height: 120px;
    width: 120px;
}
.col {
    display: table-cell;
    vertical-align: middle;
    padding: 12px;
    text-align: center;
    width: 12.6vw !important;
}
#Info_adicional>div>div>.col:nth-child(1) {
    font-weight: bold;
    width: 280px;
}
.fila>div{
    display: flex;
    align-items: center;
}
#contenido_principal input{
    width: auto;
}
#Info_adicional{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 25px 25px 0px 0px;
}


footer {
    width: 100%;
    padding: 20px 0px;
    background: aliceblue;
    font: normal normal normal 17px/1.4em Century Gothic;
    text-align: center;
    color: rgb(70, 70, 70);
}

#Derechos {
    font: normal normal normal 17px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(80, 80, 80);
}



/*-------------CAMBIOS---------------*/
/*
#contenido_principal {
    position: relative;
    }
    
    footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    }
*/
/*-----------------------------------*/

#seccion_productos>div {
    justify-content: center;
}

#seccion_productos>div>div {
    display: inline-block;
    width: auto;
    position: relative; 
}

#seccion_productos > *:first-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#seccion_productos>div>div>img{
    width: 300px;
    height: 300px;
}

h3 {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
}

h1{
    font: normal normal normal 1.8vw/1.4em Century Gothic;
    font-size: 40px;
    padding: 30px 30px;
}

h3:hover {
    cursor: pointer;
    opacity: 1;
}

h3:hover+img {
    cursor: pointer;
    opacity: 0.5;
}

/*RESPONSIVE*/

@media (max-width: 1230px) {

    .menu_horizontal>li>a {
        padding: 10px 50px;
    }

}

@media (max-width: 928px) {

    .menu_horizontal>li>a {
        padding: 10px 30px;
    }

}

@media (max-width: 868px) {

    .menu_horizontal>li>a {
        padding: 10px 20px;
    }

}

@media (max-width: 670px) {

    #DestacadoPrincipal {
        flex-direction: column;
        height: 100%;
    }

    .mostrar_menu,
    .esconder_menu {
        display: block;
        transition: 0.8s;
    }

    .mostrar_menu {
        padding: 0px 130px;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: aliceblue;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 200;
        transition: 0.8s;
    }

    .menu_horizontal,
    .iconos {
        display: block;
    }

    .menu a {
        display: block;
        padding: 5px 20px;
    }

    .esconder_menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: 0;
        transition: 0.8s;
    }

}