/*RESET*/

* {
    margin: 0;
    padding: 0;
    font: normal normal normal 21px/1.4em Century Gothic;
    color: black;
}
body {
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}
/*////////////////////////////////////////HEADER///////////////////////////////////////////////*/

header {
    height: 100px;
    background-color: aliceblue;
    width: 100%;
    padding: 0px 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

#LogoPankey {
    height: 80px;
    width: 80px;
    padding: 20px 10px;
}

.menu a,
input {
    color: rgb(0, 0, 0);
    font: normal normal normal 1.6vw/1.4em Century Gothic;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.4s;
    text-decoration: none;
}

.iconos a {
    color: rgb(0, 0, 0);
    font: normal normal normal 1.6vw/1.4em Century Gothic;
    font-size: 16px;
    padding: 15px 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.4s;
    text-decoration: none;
    text-align: center;
}

.iconos {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.iconos>li>a>img {
    width: 30px;
    height: 30px;
    padding: 0px 10px;
    cursor: pointer;
}

#seccion_busqueda{
    display: none;
}

#btn_ingresar {
    cursor: pointer;
    width: auto;
    margin: 0px;
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
    padding: 0px 30px
}

.mostrar_menu {
    order: 1;
}

#check {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}

/*CATALOGO*/

.menu_horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.Menu_Catalogo>li {
    padding: 5px 0px;
}

.menu_horizontal>li {
    position: relative;
}

.menu_horizontal>li>a {
    display: block;
    padding: 15px 100px;
    text-decoration: none;
}

.Menu_Catalogo {
    display: none;
    z-index: 10;
    transition: 0.8s;
    color: black;
    position: absolute;
    list-style: none;
    background-color: rgb(255, 255, 255);
    top: 100%;
    width: 100%;
    text-align: center;
}

.menu_horizontal li:hover .Menu_Catalogo {
    transition: 0.4s;
    display: block;
}

a:hover {
    cursor: pointer;
    color: rgb(214, 208, 199);
}

a {
    text-decoration: none;
}

/* FIN CATALOGO*/


/* ////////////////////////////////////////////////CUERPO///////////////////////////////////*/

#Salto {
    position: fixed;
    top: 100px;
    display: block;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 25px;
    z-index: 50;
}

 #contenido_principal {
    opacity: 1 !important;
     height: 100%;
     width: 100%;
     background-color: rgb(249, 245, 239);
     padding-top: 120px;
 }

#DestacadoPrincipal {
    position: relative;
    display: inline-flex;
    background: lightblue;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

#Derechos {
    display: flex;
    width: 100%;
    height: 70px;
    font: normal normal normal 17px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(80, 80, 80);
}
footer {
    width: 100%;
    padding: 10px 0px;
    background:aliceblue;
    font: normal normal normal 17px/1.4em Century Gothic;
    text-align: center;
    color: rgb(70, 70, 70);
}
#seccion_productos>div{
    display: inline-block;
    width: auto;
    position: relative;
}
h3{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0 !important;
}
h3:hover{
    cursor: pointer;
    opacity: 1;
}
h3:hover + img{
    cursor: pointer;
    opacity: 0.5;
}
@media screen and (max-width: 968px) {
    #seccion_botones>li{     
        margin: 0px;
        width: auto;     
     }
}
@media screen and (max-width: 693px) {
    #seccion_botones{     
        width: auto;     
     }
}
@media screen and (max-width: 600px) {
     #Cabecera{
        display: block;
     }
     #Logo {
        width: 100%;
        height: 80px;
     }
     
     #seccion_iconos>li>img{
        width: 5vw;
        height: 5vw;
    }
    #seccion_iconos{
        height: 50px;
     }

}

@media screen and (max-width: 400px) {
    input{
        font-size: 3.5vw;
    }
    .Carrito, .Busqueda, .Ingresar{
        padding-right: 0.9vw;   
        padding-left: 0.9vw;  
     }
     
}
/*LO QUE TENGO QUE AGREGAR DESDE JAVASCRIPT*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
body *:not(#VentanaDeIngreso>*) {
    opacity: 0.8;
}
#VentanaDeIngreso{
    opacity: 1 !important;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
}
#VentanaDeIngreso * {
    opacity: 1 !important;
}
#Ventana{
    background-color: aliceblue !important;  
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    border-radius: 7%;
}
#Ventana>*{
    background-color: transparent !important; 
}
label{
    padding: 0px 10px;
}
#SinCuenta{

    display: flex;
    align-items: center;
}
.btnHaciaDerecha{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
#Ventana>input, .btnHaciaDerecha>input {
    border: 1px solid;
    border-color: black;   
    width: auto;
}
#contraseña_olvidada{
    border-color: transparent;
    text-decoration: underline;
}
.entrada_texto{

    width: 20vw !important;
    cursor: auto !important;
}
#btn_salir{
    border-color: transparent;
    font-size: 30px;
    padding: 0px;
}
#finalización_registro{
    padding: 10px;
}