body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h1{
    margin: 0px;
    padding: 2vh 2vw;
    height: 6vh;
    text-align: center;
}
#cambio_portada{
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
}
#cambio_portada_contenido{
    width: 57vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type="text"], input[type="url"]{
    color: rgb(112, 112, 112);
}
p{
    margin: 0px;
}
#busqueda{
    display: flex;
    height: 10vh;
    justify-content: center;
}
#busqueda_contenido{
    display: flex;
    width: 18.5vw;
    justify-content: space-between;
    align-items: center;
}
h2{
    margin: 0px;
    height: 10vh;
}
#seccion_productos{
    height: 60vh;
}
#seccion_productos>div{
    display: inline-block;
    width: auto;
    position: relative;
}
h3{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
}
h3:hover{
    cursor: pointer;
    opacity: 1;
}
h3:hover + img{
    cursor: pointer;
    opacity: 0.5;
}