#Contenido_Cabecera,
#contenido_principal,
footer {
    opacity: 0.5;
}

#Salto {
    background-color: rgba(0, 0, 0, 0.4) !important;
    font-family: Sanseriffic;
    letter-spacing: 1.4px;
    transition: initial;
}

#VentanaForm {
    width: 98.3vw;
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
}

#VentanaForm * {
    color: black;
}

#Ventana {
    background-color: aliceblue !important;
    width: 550px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 7%;
    z-index: 1;
}

.Mensaje {
    height: auto !important;
}

.Recuperación {
    height: 58vh !important;
}

#Ventana>* {
    background-color: transparent !important;
}

label {
    padding: 0px 10px;
}

#SinCuenta {
    display: flex;
    align-items: center;
}

#ingresar,
#sin_cuenta {
    padding: 10px;
}

.btnHaciaDerecha {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#Ventana>input,
#SinCuenta>input,
.btnHaciaDerecha>input,
#Ventana>button {
    border: 1px solid;
    border-color: black;
    width: auto;
}

#contraseña_olvidada {
    border-color: transparent;
    text-decoration: underline;
}

.entrada_texto {
    width: 20vw !important;
    cursor: auto !important;
}

#btn_salir {
    border-color: transparent;
    font-size: 30px;
    padding: 0px;
}

h3 {
    visibility: hidden;
}

.Mensaje p {
    margin: 0px;
    padding: 22px 0px;
}

.Mensaje h2 {
    margin: 0px;
    padding: 10px 0px;
}

.Recuperación h2 {
    margin: 0px;
}

#texto_info {
    padding: 0px 70px;
    cursor: text !important;
}

#menu {
    opacity: 0.5 !important;
}