@font-face {
	font-family: "Sanseriffic";
	src: url("../fonts/Sanseriffic.woff") format('woff');
}
#Contenido_Cabecera,
#Contenido_Cabecera div,
#Contenido_Cabecera section,
#DestacadoPrincipal ul,
#seccion_productos>:first-child,
.mostrar_informacion,
#Derechos {
    display: flex
}

#Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: space-between
}

#Contenido_Cabecera {
    width: 100vw
}

#Catalogo,
#Menu_Catalogo {
    flex-direction: column
}

.mostrar_informacion {
    margin: 0
}

#Cabecera,
#botones_iconos {
    background: #fff
}

#Cabecera {
    height: 128.125px;
    position: fixed;
    z-index: 2
}

#Contenido_Cabecera,
#Contenido_Cabecera section,
#Menu_Catalogo,
#seccion_busqueda,
.mostrar_informacion,
#Derechos {
    align-items: center
}

#LogoPankey {
    min-width: 70px;
    max-width: 90px;
    min-height: 80px;
    max-height: 90px;
    padding: 1vh 4vw
}

#check,
.mostrar_menu,
.esconder_menu {
    display: none
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    padding: 0 30px
}

#botones_iconos {
    width: 80vw
}

#seccion_botones {
    width: 60vw
}

#Menu_Catalogo,
#check2 {
    visibility: hidden
}

#Menu_Catalogo,
#seccion_busqueda,
#check2,
.mostrar_informacion {
    position: absolute
}

#Menu_Catalogo,
.mostrar_informacion {
    z-index: 1
}

#Menu_Catalogo {
    background-color: #fff
}

input:hover,
a:hover,
#Catalogo:hover .Btn_Catalogo {
    color: #7c7c7c41 !important;
    transition: .4s !important
}

#seccion_iconos {
    padding: 10px
}

#seccion_busqueda,
.mostrar_informacion,
#Derechos {
    justify-content: center
}

#seccion_busqueda,
#LogoPankey {
    z-index: -1
}

#seccion_busqueda {
    width: 110px
}

#búsqueda,
input,
#seccion_botones a,
button {
    border-radius: 3px
}

#búsqueda {
    height: 11px;
    border: 2px solid #000;
    cursor: auto !important;
    border-color: transparent
}

#Ingreso {
    border: 0
}

input,
#seccion_botones a,
button,
#Salto,
h1 {
    text-align: center
}

input,
#seccion_botones a,
button {
    background-color: transparent;
    border: .5vw solid transparent;
    color: #1f1f1f
}

input,
#seccion_botones a,
h1,
.mostrar_informacion {
    letter-spacing: 1.4px
}

#Catalogo>input,
#seccion_botones>a {
    padding: 12px 0;
    min-width: 100px
}

#Catalogo {
    width: 160px
}

#Catalogo * {
    width: 160px
}

#Menu_Catalogo input {
    padding-bottom: 5px
}

button {
    padding: 6px .5vw;
    letter-spacing: 1.6px
}

a {
    text-decoration: none
}

#seccion_iconos img,
#seccion_iconos input {
    padding: 12px
}

#seccion_iconos img {
    width: 33px;
    height: 33px
}

#Salto,
#contenido_principal,
#DestacadoPrincipal li,
#DestacadoPrincipal img,
#seccion_productos>:first-child {
    width: 100%
}

#Salto {
    height: 25px;
    background-color: #000;
    color: #f0f8ff
}

#contenido_principal,
#DestacadoPrincipal img {
    height: 100%
}

#contenido_principal {
    background-color: #f0f8ff;
    padding-top: 128.125px
}

#DestacadoPrincipal {
    height: auto;
    background-color: #f9f5ef;
    overflow: hidden
}

#DestacadoPrincipal ul {
    width: 400%;
    padding: 0;
    animation: slide 20s infinite alternate ease-in-out;
    margin-top: 0;
    margin-bottom: 0
}

#DestacadoPrincipal li {
    list-style: none
}

@keyframes slide {

    0%,
    20% {
        margin-left: 0
    }

    25% {
        margin-left: -100%
    }

    45% {
        margin-left: -100%
    }

    50% {
        margin-left: -200%
    }

    70% {
        margin-left: -200%
    }

    75% {
        margin-left: -300%
    }

    100% {
        margin-left: -300%
    }
}


#seccion_productos {
    padding: 0 15px
}

#seccion_productos>:first-child {
    flex-wrap: wrap;
    padding-bottom: 2.5%;
    padding-top: 40px
}

.mostrar_informacion {
    font-size: 20px;
    opacity: 0;
    
}

.mostrar_informacion:hover {
    opacity: 1;
    transition: 0.4s;
}

.mostrar_informacion:hover+img {
    opacity: .3;
    transition: initial;
}


#Derechos {
    width: 82%;
    height: 70px;
    color: #adadad
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.contenedor_imagenes {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    /* Centers items on the line */
    align-items: center !important;
    /* Centers items vertically */
    gap: 10px !important;
    /* Adjust as needed for space between images */
}

.categoria {
    border-radius: 3px !important;
    text-align: center !important;
    background-color: transparent !important;
    border: .5vw solid transparent !important;
    color: #1f1f1f !important;
    min-width: 100px !important;
}

.categoria:hover {
    color: #7c7c7c41 !important;
    transition: .4s !important;
}

.imagen img{
    margin: 0;
}

.imagen{
    padding: 10px 30px;
}

.mostrar_informacion{
    width: 300px !important;
    height: 300px !important;
    cursor: pointer !important;
    font-family: "Sanseriffic", sans-serif !important;
}

h3{
    padding-bottom: 60px;
}

#txt_ingreso {
    text-transform: lowercase !important;
    font-size: 50px;
  }
  
  #txt_ingreso::first-letter {
    text-transform: capitalize !important;
  }
  
  /* Darkened background */
.modal-backdrop {
    position: fixed !important; /* Stay in place */
    z-index: 1 !important; /* Sit on top */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    overflow: auto !important; /* Enable scroll if needed */
    background-color: rgb(0,0,0) !important; /* Black w/ opacity */
    background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
  }
  
  /* Modal Content */
  #VentanaForm {
    position: relative !important;
    z-index: 100 !important; /* Sit on top of the background */
    /* Rest of your styles for #VentanaForm */
  }
  
