@font-face {
    font-family: "Sanseriffic";
    src: url("../fonts/Sanseriffic.woff");
  }
* {
    font-family: "Sanseriffic", Arial, sans-serif;
}
*:not(#Menu_Catalogo, #Menu_Catalogo *, #contenido_principal, #contenido_principal *) {
    transition: 0.4s !important;
}
body {
    margin: 0px;
    width: 100vw;
    /*overflow-x: hidden;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Cabecera{
    position: fixed;
    background: white;
    z-index: 2;
    height: 128.125px;
}
#Contenido_Cabecera{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}

#LogoPankey{
    min-width: 70px;
    min-height: 80px;
    max-width: 90px;
    max-height: 90px;
    padding: 1vh 4vw;
}
#check {
    display: none;
}
.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
    padding: 0px 30px
}
#botones_iconos{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
#seccion_botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
}
#Catalogo{
    display: flex;
    flex-direction: column;
}

.Btn_Catalogo{
    
    cursor: default !important;
}
#Menu_Catalogo{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
input:hover:not(input[name='dedicatoria'], #cantidad), a:hover {
    cursor: pointer;
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}

#seccion_iconos{
    display: flex;
    align-items: center;
    padding: 10px;
}
#seccion_busqueda{
    position: absolute;
    display: flex;
    width: 110px;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#búsqueda{
    width: 0px;
    height: 11px; 
    border: 2px solid black;
    border-radius: 3px;
    cursor: auto !important;
    border-color: transparent;
}
#check2{
    position: absolute;
    visibility: hidden;
}
#Ingreso{
    border: 0px;
}
#Catalogo>input,#seccion_botones a{ 
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;    
    padding: 12px 0px;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1.4px;
}
input{
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(31, 31, 31);
    text-align: center; 
    word-break: break-all;
    letter-spacing: 1.4px;
}
select{
    background-color: transparent;
    border: 0.2vw solid black;
    border-radius: 3px;
    font: normal normal normal 18px/1.4em Sanseriffic;
    width: 100px;
    text-indent: 16px;
    text-align: center;
    letter-spacing: 1.4px;
}
option{
    position: absolute;
}
a{
    text-decoration: none;
}
#btn_ingresar{
    cursor: pointer;
    width: auto;
    margin: 0px;
}
#seccion_iconos img{   
    width: 33px;
    height: 33px;
    padding: 12px;
    cursor: pointer;
}
#seccion_iconos input{   
    padding: 12px;
    cursor: pointer;
}
 #Salto {
     background-color: black;
     width: 100%;
     height: 25px;
     justify-content: center;
     color: aliceblue;
     text-align: center;
 }
 body>a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
 }
 body>a:hover{
    cursor: auto;
    color: black !important;
 }
 label{
    cursor: auto;
 }
 h1{
    margin: 0px;
    padding: 10px;
}
#contenido_principal{
    position: relative !important;
    display: inline-flex !important;
    width: 100% !important;
    background-color: rgb(255, 255, 255) !important;
    padding-top: 60px !important;
    font: normal normal normal 21px/1.4em Sanseriffic !important;
    letter-spacing: 1.4px !important;
}
#contenido_principal *{
    color: black !important;
}

#DestacadoPrincipal{
    position: relative;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#DestacadoPrincipal input{
    font: normal normal normal 21px/1.4em Sanseriffic;
    letter-spacing: 1.4px;
}

#infoDetallada{
    position: relative !important;
    width: 70vw !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding-right: calc((30vw - 96px) / 2);
}

p{
    padding: 5px 0px;
    margin: 0px;
    text-align: center;
}

#contenido_principal input{
    width: auto;
}

#DestacadoPrincipal>img {
    height: 300px;
    width: 300px !important;
    padding-top:2vh
}

#seccion_cantidad {
    display: inline-flex;
    align-items: center;
}

#disminuir_cantidad,
#aumentar_cantidad {
    font-size: 25px;
}
button {
    padding: 6px 0.5vw;
    letter-spacing: 1.6px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    caret-color: transparent;
    width: 30px !important;
}

#seccion_cantidad>*{
    margin: 0px;
}

#seccion_cantidad>input{
    padding: 0px;
}
#seccion_envio{
    display: flex;
}
#seccion_envio p{
    padding: 0px;
    position: absolute;
    opacity: 0;
    transition: 0.6s;
    color: green;
    cursor: default;
}
input[value='Feliz Cumpleaños...'] {
    color: #7c7c7c;
    cursor: auto;
    border: 1px solid !important;
    border-color: black !important;
}


#cantidad{
    cursor: auto;
    width: 37px;
    color: black;
    text-align: center;
    position: relative;
}
input[type='number']::-webkit-inner-spin-button {
    position: absolute;
    width: 12.5%;
    height: 100%;
    top: 0;
    right: 0;
}

#cantidad:hover{
    color: black !important;
}

#infoAdicional {
    border-style: groove;
    width: 65vw;
}

.tabla_info {
    display: table !important;
}

.fila {
    display: table-row;
}

.col {
    display: table-cell;
    padding: 15px;
}
.col:not(#adicional){
    text-align: center !important;
    vertical-align: middle !important;
}
#txtadicional{
    padding: 3.5% 0px !important;
}
#espAdicional{
    position: absolute !important;
    width: 400% !important;
    height: 80% !important;
    font-family:Sanseriffic !important;
    font-size: 19px !important;
    letter-spacing: 0.1vw !important;
    resize: none !important;
}

.col:nth-child(1) {
    font-weight: bold;
}

.col:nth-child(3):not(input[name='dedicatoria']) {
    font-weight: bold;
}
input[name='dedicatoria']{
    border: 1px solid black;
    cursor: text !important;
    margin: 9px;
}
footer {
    display: flex;
    width: 100%;
    background: black;
    text-align: center;
    color: rgb(70, 70, 70);
    align-items: center;
    justify-content: center;
}
#Derechos {
    display: flex;
    width: 82%;
    height: 70px;
    font: normal normal normal 14px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(173, 173, 173);
}

#seccion_productos>div{
    display: inline-block;
    width: auto;
    position: relative;
}
input, #seccion_botones a, button {
    font: normal normal normal 18px/1.4em Sanseriffic;
}
#búsqueda, input, #seccion_botones a, button {
    border-radius: 3px;
}
input:hover:not(input[name='dedicatoria']),
a:hover,
button:hover,
#Catalogo:hover .Btn_Catalogo {
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}
label,
input:hover,
a:hover,
button:hover,
#seccion_iconos img,
h3:hover {
    cursor: pointer;
}
/*--------------------AGREGO---------------------*/

body,
#Contenido_Cabecera,
#Contenido_Cabecera div,
#Contenido_Cabecera section,
#DestacadoPrincipal ul,
#seccion_productos>*:first-child,
h3,
footer,
#Derechos {
    display: flex;
}

body,
#Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: space-between;
}

body,
#Contenido_Cabecera {
    width: 100vw;
}

body,
#Catalogo,
#Menu_Catalogo {
    flex-direction: column;
}

body,
h1,
h3 {
    margin: 0px;
}

body {
    overflow-x: hidden;
}

#Cabecera,
#botones_iconos {
    background: white;
}

#Cabecera {
    height: 128.125px;
    position: fixed;
    z-index: 2;
}

#Contenido_Cabecera,
#Contenido_Cabecera section,
#Menu_Catalogo,
#seccion_busqueda,
h3,
footer,
#Derechos {
    align-items: center;
}

#LogoPankey {
    min-width: 70px;
    max-width: 90px;
    min-height: 80px;
    max-height: 90px;
    padding: 1vh 4vw;
}

#check,
.mostrar_menu,
.esconder_menu {
    display: none;
}

label,
input:hover,
a:hover,
button:hover,
#seccion_iconos img,
h3:hover {
    cursor: pointer;
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    padding: 0px 30px
}

#botones_iconos {
    width: 80vw;
}

#seccion_botones {
    width: 60vw;
}

.Btn_Catalogo {
    cursor: default !important;
}



#Menu_Catalogo,
#check2 {
    visibility: hidden;
}

#Menu_Catalogo,
#seccion_busqueda,
#check2,
h3 {
    position: absolute;
}

#Menu_Catalogo,
h3 {
    z-index: 1;
}

#Menu_Catalogo {
    background-color: rgb(255, 255, 255);
}

input:hover:not(input[name='dedicatoria'], #cantidad),
a:hover,
button:hover,
#Catalogo:hover .Btn_Catalogo {
    color: #7c7c7c41 !important;
    transition: 0.4s !important;
}

#seccion_iconos,
h1 {
    padding: 10px;
}

#seccion_busqueda,
#Salto,
#seccion_productos>div,
h3,
footer,
#Derechos {
    justify-content: center;
}

#seccion_busqueda,
#LogoPankey {
    z-index: -1;
}

#seccion_busqueda {
    width: 110px;
}

#búsqueda,
input,
#seccion_botones a,
button {
    border-radius: 3px;
}

#búsqueda {
    height: 11px;
    border: 2px solid black;
    cursor: auto !important;
    border-color: transparent;
}

#Ingreso {
    border: 0px;
}

input,
#seccion_botones a,
button,
#Salto,
h1,
footer {
    text-align: center;
}

input,
#seccion_botones a,
button {
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    border: 0.5vw solid transparent;
    color: rgb(31, 31, 31);
}

input,
#seccion_botones a,
h1,
h3 {
    letter-spacing: 1.4px;
}

#Catalogo>input,
#seccion_botones>a {
    padding: 12px 0px;
    min-width: 100px;
}

#Catalogo{
    width: 160px;
    
}
#Catalogo *{
    width: 160px;
}
#Menu_Catalogo input {
    padding-bottom: 5px;
}

button {
    padding: 6px 0.5vw;
    letter-spacing: 1.6px;
}

a {
    text-decoration: none;
}

#seccion_iconos img,
#seccion_iconos input {
    padding: 12px;
}

#seccion_iconos img {
    width: 33px;
    height: 33px;
}

#Salto,
#contenido_principal,
#DestacadoPrincipal li,
#DestacadoPrincipal img,
#seccion_productos>*:first-child,
#seccion_productos>div>div>img,
footer {
    width: 100%;
}

#Salto {
    height: 25px;
    background-color: black;
    color: aliceblue;
}
/*-----------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media screen and (max-width: 1054px) {
    #check2:checked+header #Contenido_Cabecera,
    #check2:checked+header #botones_iconos,
    #check2:checked+header #seccion_botones {
    justify-content: initial;
}
}
@media screen and (max-width: 1013px) {
    #check2:checked+header #Catalogo>input, #check2:checked+header #seccion_botones>a {
        min-width: initial;
    }
    #check2:checked+header>#Contenido_Cabecera {
        height: 103.125px;
    }

    #check2:checked+header #LogoPankey {
        padding: 1vh 4vw !important;
    }

    #check2:checked+header+#Contenido {
        padding-top: 125px;
    }

    #check2:checked+header #Menu_Catalogo {
        position: initial;
    }

    #check2:checked+header .mostrar_menu,
    #check2:checked+header #LogoPankey {
        position: absolute;
    }

    #check2:checked+header .mostrar_menu {
        right: 5%;
    }

    #check2:checked+header #LogoPankey {
        width: 70px;
        height: 80px;
    }

    #check2:checked+header label,
    #check2:checked+header #botones_iconos {
        transition: 0.8s;
    }

    #check2:checked+header label {
        display: block;
    }

    #check2:checked+header .esconder_menu {
        margin-bottom: 24%;
    }

    #check2:checked+header #botones_iconos {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -110%;
        justify-content: space-between;
    }

    #check2:checked+header #seccion_botones {
        justify-content: initial;
    }

    #check2:checked+header #seccion_botones>* {
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }

    #check2:checked+header #check:checked+label+#botones_iconos {
        right: 0%;
    }

    #check2:checked+header #seccion_botones,
    #check2:checked+header #seccion_iconos {
        flex-direction: column;
    }
}

@media screen and (max-width: 930px) {
    #Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: initial;
}
}

@media screen and (max-width: 892px) {
    #Catalogo>input, #seccion_botones>a {
        min-width: initial;
    }
    #Contenido_Cabecera {
        height: 103.125px;
    }

    #Menu_Catalogo {
        position: initial;
    }

    .mostrar_menu,
    #LogoPankey {
        position: absolute;
    }

    .mostrar_menu {
        right: 5%;
    }

    #LogoPankey {
        width: 70px;
        height: 80px;
    }

    label {
        transition: 0.8s;
    }

    label {
        display: block !important;

    }

    .esconder_menu {
        margin-bottom: 24%;
    }

    #botones_iconos {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        justify-content: space-between;
    }

    #seccion_botones {
        justify-content: initial;
    }

    #seccion_botones>* {
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }

    #check:checked+label+#botones_iconos {
        right: 0%;
    }

    #seccion_botones,
    #seccion_iconos {
        flex-direction: column;
    }
}

.select2-container {
    border-style: solid !important;
    border-color: black !important;
    min-height: 30px !important; /* Changed from height to min-height */
    overflow: hidden !important; /* Optional: add this if you want to hide overflow */
    border-width: 1px;
    border-radius: 3px;
    text-align: center !important;
}


.select2-result-label{
    text-align: center !important;
}

.select2-choice {
    padding: 0px !important;
    line-height: 30px !important; /* Ensure the line height is equal to the height for vertical alignment */
    height: 30px !important;
}