@font-face {
    font-family: "Sanseriffic";
    src: url("../fonts/Sanseriffic.woff");
  }
* {
    font-family: "Sanseriffic", Arial, sans-serif;
}
*:not(#Menu_Catalogo, #Menu_Catalogo *) {
     transition: 0.15s;
}
*, #texto_dedicatoria{
    font-family:Sanseriffic;
    letter-spacing: 0.1vw;
}
th, th *{
    font-size: 17px;
}
body {
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
#Cabecera{
    position: fixed;
    background: white;
    z-index: 2;
    height: 128.125px;
}
#Contenido_Cabecera{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}
#LogoPankey{
    min-width: 70px;
    min-height: 80px;
    max-width: 90px;
    max-height: 90px;
    padding: 1vh 4vw;
}
#check {
    display: none;
}
.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transform: 0.4s;
    padding: 0px 30px
}
#disminuir_cantidad,
#aumentar_cantidad {
    font-size: 25px;
}
#botones_iconos{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
#seccion_botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
}
#Catalogo{
    width: 170px;
    display: flex;
    flex-direction: column;
}
#Catalogo *{
    width: 170px;
}

.Btn_Catalogo{
    
    cursor: default !important;
}
#Catalogo:hover #Menu_Catalogo{
    visibility: visible;
}
#Menu_Catalogo{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.cantidad{
    cursor: auto;
    width: 37px;
    color: black;
    text-align: center;
    position: relative;
}
input[type='number']::-webkit-inner-spin-button {
    position: absolute;
    width: 12.5%;
    height: 100%;
    top: 0;
    right: 0;
}
.cantidad:hover{
    color: black !important;
}
#Catalogo:hover .Btn_Catalogo {
    color: #7c7c7c41 !important;
}
#seccion_iconos{
    display: flex;
    align-items: center;
    padding: 10px;
}
#seccion_busqueda{
    position: absolute;
    display: flex;
    width: 110px;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#búsqueda{
    /*width: 110px;*/
    height: 11px; 
    border: 2px solid black;
    border-radius: 3px;
    cursor: auto !important;
    border-color: transparent;
}
#check2{
    position: absolute;
    visibility: hidden;
}
#Ingreso{
    border: 0px;
}
#Catalogo>input,#seccion_botones>a{ 
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;    
    padding: 12px 0px;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 0.1vw;
}
input{
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(31, 31, 31);
    text-align: center; 
    letter-spacing: 0.1vw;
}
button, .btn_eliminar{
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    padding: 6px 0.5vw;
    border: 0.5vw solid transparent;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    text-align: center; 
    letter-spacing: 1.6px;
}
.btn_eliminar{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
#btn_ingresar{
    cursor: pointer;
    width: auto;
    margin: 0px;
}
#seccion_iconos img{   
    width: 33px;
    height: 33px;
    padding: 12px;
    cursor: pointer;
}
#seccion_iconos input{   
    padding: 12px;
    cursor: pointer;
}
 #Salto {
     background-color: black;
     width: 100%;
     height: 25px;
     justify-content: center;
     color: aliceblue;
     text-align: center;
 }
 #borrador{
    width: 38px;
 }
 #borrador:hover{
    opacity: 0.4;
 }
 #seccion_eliminar>div{
    display: flex;
 }
 body>a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
 }
 body>a:hover{
    cursor: auto;
    color: black !important;
 }
 label{
    cursor: auto;
 }
 h1{
    margin: 0px;
    padding: 10px;
}
#contenido_principal {
    width: 100%;
    background-color: aliceblue;
    padding-top: 128.125px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    width: fit-content;
    letter-spacing: 0.1vw;
}
#Productos{
    width: 100vw;
    overflow: scroll;  
}
#form_proPersonalizado{
    padding: 0px 15px;
    width: 810px;
}
#personalizacion{
    width: auto;
}
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  
#txtFormaPastel{
    font-size: 20px;
    padding-bottom: 11px;
}

table{
    width: 100%;
    text-align: center;
    table-layout: fixed;
}
.dropzone{
    display: flex !important;
    margin-left: auto;
    margin-right: auto;
    width: 222px;
    height: 200px;
    padding: 3px !important;
    z-index: 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.dropzone .dz-message {
    margin: 0px !important;
}
#seccion_dedicatorias>td{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#seccion_imagen>img{
    height: 120px;
    width: 120px;
}
#Info_adicional{
    width: 25vw;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-right: 30px;
}
#Info_adicional>p{
    text-align: center;
}
#precio{
    width: 100%;
    text-align: center;
}
th, #seccion_nota, #seccion_envío{
    color: black !important;
}
#botones_carrito{
    display: flex;
    width: 100%;
    justify-content: center;
}
h1{
    font: normal normal normal 32px/1.4em Sanseriffic;
    
    padding-top: 70px;
    padding-bottom: calc(70px - 2.5%);
    text-align: center;
    letter-spacing: 0.15vw;
}
#DestacadoPrincipal h6 {
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    text-align: center;
    padding: 2vh 2vw;
}
#seccion_productos{
    padding: 0px 15px;
}
#seccion_productos>div {
    justify-content: center;
}
#seccion_productos>div>div {
    display: inline-block;
    width: 295px;
    height: 302.5px;
    position: relative; 
    padding: 2.5%;
}
#seccion_productos > *:first-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2.5%;
}
#seccion_productos>div>div>img{
    width: 100%;
    height: 302.5px;
}
#imgUsuario{
    width: 20vw;
    height: 20vw;
}
#imgUsuario>img{
    max-width: 100%;
    height: auto;
}
.tabla_info {
    display: table;
    width: 100%;
    text-align: center;
}
.fila {
    display: table-row;
    text-align: center;
}
#seccion_imagen>img{
    height: 100px;
    width: 100px;
}
select{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    font: normal normal normal 18px/1.4em Sanseriffic;
    text-indent: 16px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1vw; 
}
#num_dedicatorias{
    width: 80px;
}
input[type="text"], input[type="url"], #cod_postal, #tel{
    cursor: auto;
    padding: 5px 0px !important;
    margin: 5px 0px;
}
input[type="text"], #num_tarjeta{ 
    cursor: auto;
    border: 1px solid !important;
    border-color: black !important;
}
input[name='dedicatoria'] {
    border: 1px solid black;
    cursor: text !important;
    margin-left: 5px;
    margin-right: 5px;
}
#cuadros_dedicatoria{
    width: 150px;
}
#cambio_contraseña>input{
    display: flex;
    flex-direction: column;
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contenido_previsualizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btn_guardar>input{
    width: auto;
}


#DestacadoPrincipal {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: center;
}
#DestacadoPrincipal>img {
    height: 300px;
    width: 300px;
}

#texto{
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    padding-right: calc((40vw - 300px) / 2);
}
h1{
    letter-spacing: 0.1vw;
    padding: 40px 0px 40px 0px;
    text-align: center;
    letter-spacing: 0.15vw;
}
p{
   font: normal normal normal 15px/1.4em Century Gothic; 
    margin: 0px;
    /*padding-left: 50px;
    padding-right: 50px;*/
}
.txtadd{
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    padding: 1px 2px;
}
footer {
    display: flex;
    width: 100%;
    background: black;
    text-align: center;
    color: rgb(70, 70, 70);
    align-items: center;
    justify-content: center;
}
#Derechos {
    display: flex;
    width: 82%;
    height: 70px;
    font: normal normal normal 14px/1.4em Century Gothic;
    align-items: center;
    justify-content: center;
    color: rgb(173, 173, 173);
    letter-spacing: initial;
}

/*----------------LO QUE SE AGREGA----------------*/
* {
    font-family: Sanseriffic;
}

body,
#Contenido_Cabecera,
#Contenido_Cabecera div,
#Contenido_Cabecera section,
#DestacadoPrincipal ul,
#seccion_productos>*:first-child,
footer,
#Derechos {
    display: flex;
}

body,
#Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: space-between;
}

body,
#Contenido_Cabecera {
    width: 100vw;
}

body,
#Catalogo,
#Menu_Catalogo {
    flex-direction: column;
}

body,
h1 {
    margin: 0px;
}

#Cabecera,
#botones_iconos {
    background: white;
}

#Cabecera {
    height: 128.125px;
    position: fixed;
    z-index: 2;
}

#Contenido_Cabecera,
#Contenido_Cabecera section,
#Menu_Catalogo,
#seccion_busqueda,
footer,
#Derechos {
    align-items: center;
}

#LogoPankey {
    min-width: 70px;
    max-width: 90px;
    min-height: 80px;
    max-height: 90px;
    padding: 1vh 4vw;
}

#check,
.mostrar_menu,
.esconder_menu {
    display: none;
}

label,
input:hover,
a:hover,
button:hover,
#seccion_iconos img {
    cursor: pointer;
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    padding: 0px 30px
}

#botones_iconos {
    width: 80vw;
}

#seccion_botones {
    width: 60vw;
}

.Btn_Catalogo {
    cursor: default !important;
}

#Catalogo:hover #Menu_Catalogo {
    visibility: visible;
}

#Menu_Catalogo,
#check2 {
    visibility: hidden;
}

#Menu_Catalogo,
#seccion_busqueda,
#check2 {
    position: absolute;
}

#Menu_Catalogo {
    z-index: 1;
}

#Menu_Catalogo {
    background-color: rgb(255, 255, 255);
}

input:hover:not(input[name='dedicatoria'], .cantidad),
a:hover,
button:hover,
#Catalogo:hover .Btn_Catalogo {
    color: rgba(0, 0, 0, 0.521) !important;
    transition: 0.15s !important;
}

#seccion_iconos,
h1 {
    padding: 10px;
}

#seccion_busqueda,
#Salto,
#seccion_productos>div,
footer,
#Derechos {
    justify-content: center;
}

#seccion_busqueda,
#LogoPankey {
    z-index: -1;
}

#seccion_busqueda {
    width: 110px;
}

#búsqueda,
input,
#seccion_botones a,
button {
    border-radius: 3px;
}

#búsqueda {
    height: 11px;
    border: 2px solid black;
    cursor: auto !important;
    border-color: transparent;
}

#Ingreso {
    border: 0px;
}

input,
#seccion_botones a,
button,
#Salto,
h1,
footer {
    text-align: center;
}

input,
#seccion_botones a,
button {
    font: normal normal normal 18px/1.4em Sanseriffic;
    background-color: transparent;
    border: 0.5vw solid transparent;
    color: rgb(31, 31, 31);
}

input,
#seccion_botones a,
h1 {
    letter-spacing: 1.4px;
}

#Catalogo>input,
#seccion_botones>a {
    padding: 12px 0px;
    min-width: 100px;
}

#Catalogo{
    width: 160px;
    
}
#Catalogo *{
    width: 160px;
}
#Menu_Catalogo input {
    padding-bottom: 5px;
}

button {
    padding: 6px 0.5vw;
    letter-spacing: 1.6px;
}

a {
    text-decoration: none;
}

#seccion_iconos img,
#seccion_iconos input {
    padding: 12px;
}

#seccion_iconos img {
    width: 33px;
    height: 33px;
}

#Salto,
#contenido_principal,
#DestacadoPrincipal li,
#DestacadoPrincipal img,
#seccion_productos>*:first-child,
#seccion_productos>div>div>img,
footer {
    width: 100%;
}

#Salto {
    height: 25px;
    background-color: black;
    color: aliceblue;
}
/*------------------------------------------------*/

table:not(#tabla1), th:not(#tabla1 th), td:not(#tabla1 td) {
    border-style: solid;
    border-color: transparent;
    border-width: 5px 0px;
  }
input[name='ingreso_enlace']{
    cursor: text !important;
}
/* .para_enlace{
    position: absolute;
    margin-top: 120px !important;
    margin-left: 22px !important;
} */
.left{
    margin-left: 10%;
}
.right{
    margin-right: 10%;
}
textarea{
    font: normal normal normal 18px/1.4em Sanseriffic;
    transition: initial;
    width: 98.4%;
    height: 60px;
}
#secdescrAdicional{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input2{
    position: absolute;
    z-index: -1;
}
#txtDrop{
    color: black !important;
    position: relative;
}
#txtDrop:hover{
    color: rgb(66, 66, 66) !important;
}
#prevModelo{
    font-size: 20px;
}
.txtImgNoValida{
    visibility: hidden;
    color: red;
    padding-top: 55px;
}
.contenedorTxt{
    height: 0px;
}
input[name='dedicatoria']{
    cursor: text;
}
#espAdicional3>td{
    overflow-x: auto;
    display: flex;
    width: 290px;
    margin: 0 auto;
}
.dropzone, .dropzone * {
    box-sizing: initial !important;
}
#formDrop{
    background: transparent !important;
}
.dz-button{
    color: black !important;
    font: normal normal normal 15px / 1.4em Century Gothic !important;
}
.para_enlace{
    margin: 10px 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.658);
    border-radius: 10px;
}
.dropzone {
    border: 1px solid rgba(0, 0, 0, 0.658) !important;
    border-radius: 22px;
}
@media screen and (max-width: 1054px) {
    #check2:checked+header #Contenido_Cabecera,
    #check2:checked+header #botones_iconos,
    #check2:checked+header #seccion_botones {
    justify-content: initial;
}
}
@media screen and (max-width: 1013px) {
    #check2:checked+header #Catalogo>input, #check2:checked+header #seccion_botones>a {
        min-width: initial;
    } 
    #check2:checked + header #LogoPankey{
        padding: 1vh 4vw !important;
    }
    #check2:checked + header + #Contenido {
        padding-top: 125px;
    }
    #check2:checked + header > #Contenido_Cabecera {
        height: 103.125px;
    }
    #check2:checked + header #Menu_Catalogo{
        position: initial;
    }
    #check2:checked + header .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #check2:checked + header #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    #check2:checked + header .mostrar_menu,
    #check2:checked + header .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    #check2:checked + header .esconder_menu{
        margin-bottom: 24%;
    }
    #check2:checked + header #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #check2:checked + header #seccion_botones{
        justify-content: initial;
    }
    #check2:checked + header #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check2:checked + header #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #check2:checked + header #seccion_botones{
        flex-direction: column;
    }
    #check2:checked + header #seccion_iconos{
        flex-direction: column;
    }
}
@media screen and (max-width: 930px) {
    #Contenido_Cabecera,
#botones_iconos,
#seccion_botones {
    justify-content: initial;
}
}

@media screen and (max-width: 892px) {
    #Catalogo>input, #seccion_botones>a {
        min-width: initial;
    }
    #Contenido_Cabecera {
        height: 103.125px;
    }
    #Menu_Catalogo{
        position: initial;
    }
    .mostrar_menu{
        position: absolute;
        right: 5%;
    }
    #LogoPankey {
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 80px;
    }
    .mostrar_menu,
    .esconder_menu {
        display: block;
        transition: 0.8s;
    }
    .esconder_menu{
        margin-bottom: 24%;
    }
    #botones_iconos{
        position: fixed;
        top: 0px;
        right: -110%;
        transition: 0.8s;
        width: 100vw;
        justify-content: space-between;
        background: white;
        height: 100vh;
    }
    #seccion_botones{
        justify-content: initial;
    }
    #seccion_botones>*{
        height: 50px;
        padding: 1vw !important;
        margin: 0px !important;
        border: 0px !important;
        display: flex;
        align-items: center;
    }
    #check:checked+ label + #botones_iconos {
        right: 0%;
        transition: 0.8s;
    }
    #seccion_botones{
        flex-direction: column;
    }
    #seccion_iconos{
        flex-direction: column;
    }
}
@media screen and (max-width: 829px) {
    #form_proPersonalizado{
        width: auto;
    }
}
@media screen and (max-width: 720px) { 
    h1{
        font-size: 30px !important;
    }
}
@media screen and (max-width: 516px) { 
    #tabla1{
        table-layout: initial;
    }
}